<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODAY BEST MOCKTAIL</title>
</head>
<body>
      <h1>giving you the best MOCKTAIL on that time</h1>

      <div class="moktail">
        <h2>TYPE :  <%= catagory %></h2>
        <h2>ALCOHOLIC OR nonALCHOLIC:  <%= type %></h2>
        <h3>Glass Type:  <%= glass %></h3>
        <h4>INSTRUCTION:  <%= instruction %></h4>
      </div>
</body>
</html>